.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;

    body {
        width:100%;

    }
}
.stripe {
    width:800px;
    height:200px;

}

.red {
    background-color:#ef3340
}

.gold {
    background-color: #FDDA24
}

.black {
    background-color: #000000
}

.flag {
    margin:auto;
    width:800px;
    height:600px;
}